@model ThAmCo.Events.Models.Events.EventVM

    <h2>Create Event</h2>

<h3><font color="red">@Model.Message</font></h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectVenue">
            <input type="hidden" asp-for=@Model.VenueRef name="VenueRef" />
            <input type="hidden" asp-for=@Model.Existing name="Existing" />
            <input type="hidden" asp-for=@Model.VenueName name="VenueName" />
            <input type="hidden" asp-for=@Model.VenueCapacity name="VenueCapacity" />
            <input type="hidden" asp-for=@Model.VenueCost name="VenueCost" />
            <input type="hidden" asp-for=@Model.VenueDescription name="VenueDescription" />
            @if (Model.VenueName != null)
            {
                <input type="hidden" asp-for=@Model.Date.Day name="Day" />
                <input type="hidden" asp-for=@Model.Date.Month name="Month" />
                <input type="hidden" asp-for=@Model.Date.Year name="Year" />
                <input type="hidden" asp-for=@Model.Date.Hour name="Hour" />
                <input type="hidden" asp-for=@Model.Date.Minute name="Minute" />
                <input type="hidden" asp-for=@Model.Date.Second name="Second" />
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            @if (Model.VenueName == null)
            {
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for=@Model.Date class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
            }
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.VenueName == null)
                {
                    <label asp-for="TypeId" class="control-label"></label>
                    @Html.DropDownList("TypeId", Model.TypeList, new { @class = "form-control" })
                }
                else
                {
                    <input type="hidden" asp-for="TypeId" class="form-control" readonly />
                }
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Model.VenueName == null)
                {
                    <input type="submit" value="Select Venue" class="btn btn-default" />
                }
                else
                {
                    <input type="submit" value="Confirm Booking" class="btn btn-default" />
                }

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
