@model IEnumerable<ThAmCo.Events.Services.MenuDto>


<h2>Menu List</h2>

<h4><a asp-action="Create">Create New</a></h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.MenuId }) |
                    @Html.ActionLink("Details", "Details", new { item.MenuId })
                </td>
            </tr>
        }
    </tbody>
</table>
